<li [ngClass]="{'list-group-item': true,
                'list-group-item-success':postLoveIts > 0,
                'list-group-item-danger':postLoveIts < 0}">
                <p class="text-right">{{postCreated_at|date:'dd/MM/y, H:MM a '}}</p>
                <h4>{{postTitle}}</h4>
                <p>{{postContent}}</p>
                <button class="btn btn-success" 
                (click)="onLike()">Love it!</button>
                <button class="btn btn-danger" 
                (click)="onDislike()">Don't love it!</button>
  <!--<div style="width:20px;height:20px;background-color: red" *ngIf="appareilStatut === 'éteint'"></div>
  <h4 [ngStyle]="{color:getColor()}">Appareil : {{ appareilName }} -- {{ appareilStatut}} </h4>
  <input type="text" class="form-control" [(ngModel)]="appareilName">-->
</li>